body {
  margin: 0px;
  padding: 0px;
}

#vj-root {
  z-index: 0;
  margin-top: 60px;
}

#vj-navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  line-height: 60px;
  align-items: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
}

#vj-navbar .title {
  margin-right: 15px;
  font-size: 30px;
}

#vj-navbar #vj-menu-icon {
  margin-left: 10px;
  border-radius: 10px;
  padding: 5px 10px;
}

#vj-navbar #vj-menu-icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#vj-navbar #vj-menu-icon div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

#vj-sidebar {
  z-index: 1000;
  background-color: #f5f5f5;
  position: fixed;
  width: 400px;
  height: 100vh;
  max-width: 70%;
  top: 0px;
  left: 0px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transform: translateX(-400px);
  transition: 0.5s ease-in;
}

#vj-sidebar.show {
  transform: translateX(0px);
}

#vj-sidebar a {
  display: block;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#vj-sidebar a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#vj-sidebar .profile {
  padding: 10px 0px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#vj-sidebar .profile img {
  width: 200px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px grey;
}
